<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ManterCursoController</servlet-name>
        <servlet-class>controller.ManterCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterProfessorController</servlet-name>
        <servlet-class>controller.ManterProfessorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarCursoController</servlet-name>
        <servlet-class>controller.PesquisarCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarProfessorController</servlet-name>
        <servlet-class>controller.PesquisarProfessorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TratamentoExcecao</servlet-name>
        <servlet-class>exception.TratamentoExcecao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarAlunoController</servlet-name>
        <servlet-class>controller.PesquisarAlunoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAlunoController</servlet-name>
        <servlet-class>controller.ManterAlunoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarDisciplinaController</servlet-name>
        <servlet-class>controller.PesquisarDisciplinaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterDisciplinaController</servlet-name>
        <servlet-class>controller.ManterDisciplinaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioCursosController</servlet-name>
        <servlet-class>controller.RelatorioCursosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioProfessorController</servlet-name>
        <servlet-class>controller.RelatorioProfessorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioDisciplinaPorCursoController</servlet-name>
        <servlet-class>controller.RelatorioDisciplinaPorCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioAlunoAnoSemestreController</servlet-name>
        <servlet-class>controller.RelatorioAlunoAnoSemestreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioDiarioDeClasseController</servlet-name>
        <servlet-class>controller.RelatorioDiarioDeClasseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioHistoricoAlunoController</servlet-name>
        <servlet-class>controller.RelatorioHistoricoAlunoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterTurmaController</servlet-name>
        <servlet-class>controller.ManterTurmaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarTurmaController</servlet-name>
        <servlet-class>controller.PesquisarTurmaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterHorariosController</servlet-name>
        <servlet-class>controller.ManterHorariosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterMatriculaController</servlet-name>
        <servlet-class>controller.ManterMatriculaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarMatrizCurricularController</servlet-name>
        <servlet-class>controller.PesquisarMatrizCurricularController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizarEmentaDisciplinaController</servlet-name>
        <servlet-class>controller.VisualizarEmentaDisciplinaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarProfessorPorCursoController</servlet-name>
        <servlet-class>controller.PesquisarProfessorPorCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarNotaFrequenciaController</servlet-name>
        <servlet-class>controller.PesquisarNotaFrequenciaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterNotaFrequenciaController</servlet-name>
        <servlet-class>controller.ManterNotaFrequenciaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarNotaFrequenciaController</servlet-name>
        <servlet-class>controller.ConsultarNotaFrequenciaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAlunoNotaFrequenciaController</servlet-name>
        <servlet-class>controller.ManterAlunoNotaFrequenciaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginSistema</servlet-name>
        <servlet-class>controller.LoginSistema</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterCursoController</servlet-name>
        <url-pattern>/ManterCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterProfessorController</servlet-name>
        <url-pattern>/ManterProfessorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarCursoController</servlet-name>
        <url-pattern>/PesquisarCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarProfessorController</servlet-name>
        <url-pattern>/PesquisarProfessorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TratamentoExcecao</servlet-name>
        <url-pattern>/TratamentoExcecao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarAlunoController</servlet-name>
        <url-pattern>/PesquisarAlunoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAlunoController</servlet-name>
        <url-pattern>/ManterAlunoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarDisciplinaController</servlet-name>
        <url-pattern>/PesquisarDisciplinaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterDisciplinaController</servlet-name>
        <url-pattern>/ManterDisciplinaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioCursosController</servlet-name>
        <url-pattern>/RelatorioCursosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioProfessorController</servlet-name>
        <url-pattern>/RelatorioProfessorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioDisciplinaPorCursoController</servlet-name>
        <url-pattern>/RelatorioDisciplinaPorCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioAlunoAnoSemestreController</servlet-name>
        <url-pattern>/RelatorioAlunoAnoSemestreController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioDiarioDeClasseController</servlet-name>
        <url-pattern>/RelatorioDiarioDeClasseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioHistoricoAlunoController</servlet-name>
        <url-pattern>/RelatorioHistoricoAlunoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterTurmaController</servlet-name>
        <url-pattern>/ManterTurmaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarTurmaController</servlet-name>
        <url-pattern>/PesquisarTurmaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterHorariosController</servlet-name>
        <url-pattern>/ManterHorariosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterMatriculaController</servlet-name>
        <url-pattern>/ManterMatriculaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarMatrizCurricularController</servlet-name>
        <url-pattern>/PesquisarMatrizCurricularController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizarEmentaDisciplinaController</servlet-name>
        <url-pattern>/VisualizarEmentaDisciplinaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarProfessorPorCursoController</servlet-name>
        <url-pattern>/PesquisarProfessorPorCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarNotaFrequenciaController</servlet-name>
        <url-pattern>/PesquisarNotaFrequenciaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterNotaFrequenciaController</servlet-name>
        <url-pattern>/ManterNotaFrequenciaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarNotaFrequenciaController</servlet-name>
        <url-pattern>/ConsultarNotaFrequenciaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAlunoNotaFrequenciaController</servlet-name>
        <url-pattern>/ManterAlunoNotaFrequenciaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginSistema</servlet-name>
        <url-pattern>/LoginSistema</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>
            404
        </error-code>
        <location>
            /TratamentoExcecao
        </location>
    </error-page>
    <error-page>
        <exception-type>
            java.lang.Exception
        </exception-type>
        <location>
           /TratamentoExcecao
        </location>
    </error-page>
</web-app>
